* {
  border: 1px solid greenyellow;
  margin: 0;
}

@media only screen and (min-width: 769px) {
  
body {
  width: 100%;
  background-color: #fafafa;
  color:#272a31;
  font-family: 'Lato', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.nav-bar {
  margin: 0;
  width: 100vw;
  height: 63px;
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
}

.burger-menu {
  display: none;
}

.nav-logo-link {
  width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #414246;
}

.nav-menuContainer {
  width: 100%;
}

.nav-logo-container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav-logo-img {
  width: 50px;
  height: 50px;
  background-image: url(image/logo-no-circle.png);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-logo{
  font-weight: 400;
}

.bugerBtn{
 display: none;
}

.desktop-menu {
  width: 60%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
}

.desktop-menu-home{
  color: #868686;
  font-weight: 600;
  font-size: 17px;
}

.desktop-menu-about {
  color: #868686;
  font-weight: 600;
  font-size: 17px;
}

.home-page {
  order: 1;
  width: 100%;
  margin-top: 65px;
  background-image: url(image/background-desktop-intro.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

/* home page intro content style */

.home-page-intro {
  width: 100%;
  margin-top: 63px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* home page titles style */

.home-page-tittles {
  color: #ec5242;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  background-color: transparent;

}

/* home page titles h1 style */

.home-page-h1 {
  font-size: 45px;
  font-weight: bold;
  color: rgba(0,0,0, 0.05);
  text-transform: uppercase;
  background-image: url(image/background-title.jpg);
  background-size: inherit;
  background-position: top;
  -webkit-background-clip: text;
}

/* home page titles h2 style */

.home-page-h2 {
  font-size: 20px;
  font-weight: 300;
}

/* home page paragraph style */

.home-page-text {
  background-color: #f8f8f8;
  text-align: center;
  border: 2px solid white;
  margin: 20px;
  padding: 10px;
  font-size: 2vmin;
}

.home-page-info {
  margin-bottom: 30px;
  font-family: 'Gothic A1', sans-serif;
  font-size: 24px;
  font-weight: 900;
}

.home-page-info-date {
  font-family: 'Gothic A1', sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: #595959;
  letter-spacing: -0.08em;
}

.home-page-info-place {
  font-family: 'Gothic A1', sans-serif;
  font-size: 13px;
  font-weight: 900;
  color: #868686;
}

/* ------------------------------------------------------------------- */ 
/* home page main content style */
/* ------------------------------------------------------------------- */

  .home-page-main-program {
    width: 100%;
    height: 587px;
    background-image: url(image/background-mobile-main-content-diamond-img.png);
    background-color: #272a31;
    color: #d3d3d3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  .home-page-main-program-container {
    width: 90%;
    color: #d3d3d3;
    background-color: rgba(59, 62, 69,0.3);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .home-page-main-program-1-oratory {
    color: #ec5242;
  }

  .home-page-main-program-2-oratory {
    color: #ec5242;
  }

  .home-page-main-program-3-oratory {
    color: #ec5242;
  }

  .home-page-main-program-4-oratory {
    color: #ec5242;
  }

  .home-page-main-program-5-oratory {
    color: #ec5242;
  }

  .home-page-info-joinNowBtn {
    color: #fff;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    font-size: 20px;
  }

  /* ------------------------------------------------------------------- */ 
  /* speaker page main content style */
  /* ------------------------------------------------------------------- */

  .speaker-page{
    order: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .speaker-page-div {
    width: 51px;
    border-top: 2px solid #ec5242;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .speaker-page-container {
    width: 100%;
  }

  /* ------------------------------------------------------------------- */ 
  /* sponsor page main content style */
  /* ------------------------------------------------------------------- */

  .sponsor-page {
    width: 100%;
    display: flex;
    order: 3;
  }

  .sponsor-page-past-sponsors {
    width: 100%;
    height: 182px;
    color: #ffffff;
    background-color: #414246;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  .sponsor-img-1 {
    width: 70%;
    display: flex;
    justify-content: space-around;
  }

  .sponsor-img-2 {
    width: 55%;
    display: flex;
    justify-content: space-around;
  }

  /* ------------------------------------------------------------------- */ 
  /* about page main content style */
  /* ------------------------------------------------------------------- */

  .about-page {
    display: flex;
    order: 4;
    width: 100%;
    background-image: url(image/background-desktop-about.png);
    background-position: center;
    background-size: cover;
    flex-direction: column;
    align-items: center;
  }

  /*  about page title style  */

  .about-page-tittles {
    font-size: 20px;
    color: #ec5242;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 90%;
    height: 100%;
    padding: 5px;
  }

  /* about page titles h1 style */

  .about-page-h1 {
    font-size: 5vmin;
    font-weight: 900;
  }

  /* about page titles h2 style */

  .about-page-h2 {
    font-size: 20px;
    font-weight: 300;
  }

  /* about page paragraph style */

  .about-page-text {
    color: #000000;
    background-color: #ffffff;
    width: 64%;
    height: 164px;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    text-align: center;
    align-items: center;
  }

  /* about page contact style */

  .about-page-info {
    width: 100%;
    height: 122px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f8;
    font-size: 20px;
    padding-top: 20px;
  }

  /* about page date style */

  .about-page-info-date {
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 700;
  }

  /* about page contact style */

  .about-page-info-place {
    color: #5f5f5f;
    font-size: 16px;
    font-weight: 800;
  }

  /* ------------------------------------------------------------------- */ 
  /* about page main content style */
  /* ------------------------------------------------------------------- */

  .about-page-past-content {
    width: 100%;
    display: flex;
    order: 5;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .about-page-past-logo {
    width: 24%;
    height: auto;
    color: #5f5f5f;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }

  .about-page-past-logo-text {
    width: 38%;
    height: auto;
    font-size: 30px;
    font-family: 'Gothic A1', sans-serif;
  }

  /* about page past style */

    .about-page-past {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding: 20px;
    }

  .about-page-past-h1 {
    color: #2c2c2c;
    font-size: 28px;
    margin: 10px;
  }

  .about-page-past-border {
    width: 35px;
    border-top: 2px solid #ec5242;
  }

  .about-page-past-h2 {
    color: #838383;
    font-size: 12px;
    margin: 10px;
  }

  /* about page past media style */

  .about-page-past-img {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Lato', sans-serif;
  }

  .about-page-past-background-1{
    width: 45vw;
    height: 46vmin;
    background-image: url(image/media-1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 5%;
  }

  .about-page-past-media-h1-1 {
    text-align: center;
    color: #ffffff;
  }

  .about-page-past-media-h2-1 {
    width: 100%;
    color: #ffffff;
  }

  .about-page-past-background-2{
    width: 45vw;
    height: 46vmin;
    background-image: url(image/media-2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 5%;
  }

  .about-page-past-media-h1-2 {
    text-align: center;
    color: #ffffff;
  }

  .about-page-past-media-h2-2 {
    width: 100%;
    color: #ffffff;
  }
}
